:root {
  --system-sans-serif: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  --system-serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 10vh 86vh 4vh;
  background-color: rgb(19, 19, 19);
}

/*---------------------- HEADER STYLES -----------------------*/

header {
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  color: salmon;
  background-color: black;
  font-family: var(--system-serif);
}

header h1 {
  margin: 0 0 0 20px;
  font-size: 4rem;
}

header nav {
  margin-left: auto;
  margin-right: 20px;
  width: 400px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

nav button {
  border: none;
  border-radius: 20px;
  background-color: lightgray;
  width: 80%;
  height: 35px;
  font-weight: 600;
  font-size: 1.2rem;
  cursor: pointer;
}

nav button:hover {
  background-color: lightsalmon;
}

nav button:active {
  background-color: salmon;
}

.main {
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.banner {
  position: relative;
  background-position: center;
  display: flex;
  justify-content: center;
}

.banner > a {
  position: absolute;
  bottom: 10px;
  color: white;
  font-size: 0.8rem;
}

.banner:first-child {
  background-image: url('./1a5b9fe6adcaf81f47aa.jpg');
  grid-column: 1 / 2;
}

.banner:last-child {
  background-image: url('./ab4ccbcbb49d1ca8bbb1.jpg');
  grid-column: 3 / 4;
}

#content {
  grid-column: 2 / 3;
  padding: 40px 60px;
  color: lightgray;
  font-family: var(--system-serif);
}

/*------------------ HOME STYLES --------------------*/

#content h2 {
  color: salmon;
  font-size: 3rem;
  margin: 0 0 50px 0;
}

.text > p {
  font-size: 1.8rem;
  line-height: 1.8;
}

.slides-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  place-content: center;
  margin-top: 100px;
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-placeholder {
  background-color: lightgray;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-placeholder > p {
  color: black;
}

/*------------------ MENU STYLES --------------------*/

.menu-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}

h3 {
  margin: 0;
  font-size: 1.8rem;
}

.menu-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: flex-start;
  place-content: center;
}

.menu-item p {
  text-align: justify;
}

/*----------------- ABOUT STYLES --------------------*/

.about-container #about-header {
  font-size: 4rem;
}

.about-container p {
  font-size: 2rem;
}

/*------------------ FOOTER STYLES ------------------*/

footer {
  grid-row:  3 / 4;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  font-size: 1.1rem;
}

footer p {
  margin: 0;
}

footer a {
  text-decoration: underline;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

footer p,
footer a {
  color: salmon;
}

footer img {
  width: 20px;
}